 <!DOCTYPE html>

<head>
	<title>{{ title }}</title>
</head>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
<body>
	<h3>{{ time }} </h3>
	<h3>{{ temperature }}</h3>
	<h3>{{ pressure }}</h3>
	<h3>{{ altitude }}</h3>
  <h3>{{ latitude }}</h3>
  <h3>{{ longitude }}</h3>
	<hr>
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>
	<hr>

	<h3> HISTORICAL DATA </h3>
	<p> Enter number of samples to retrieve:
	<form method="POST">
		<input name="numSamples" value= {{numSamples}}>
		<input type="submit">
	</form></p>

	<hr>
	<img src="/plot/temp" alt="Image Placeholder" width="33%">
	<img src="/plot/pres" alt="Image Placeholder" width="33%">
	<img src="/plot/alt" alt="Image Placeholder" width="33%">
  <div id="map"></div>
 <script>
   var coords = [];
   var markerArr = [];
   var desc = '';
   var map;
   var markers = [];
   var newMarker = [1];
   var properties = [];
   var sendMarker;
   var props = [{{ latitude }}, {{ longitude }}]



   function initMap() {
     var options = {
       zoom: 11,
       center: {
         lat: {{ latitude }},
         lng: {{ longitude }}
       }
     }

     map = new google.maps.Map(document.getElementById('map'), options);







     function addNewMarker(props) {
       var marker = new google.maps.Marker({
         position: props.coords,
         map: map
       });
       // console.log(props.coords.toString());
       var regex = /[+-]?\d+(\.\d+)?/g;

       var str = props.coords.toString();
       var floats = str.match(regex).map(function(v) {
         return parseFloat(v);
       });
       console.log(floats);
       sendMarker = {
         'description': desc,
         'lat': floats[0],
         'long': floats[1]
       }
       // coords.push(props.coords);
       newMarker.push(marker)

       if (props.iconImage) {
         marker.setIcon(props.iconImage);
       }
       if (props.content) {
         var infoWindow = new google.maps.InfoWindow({
           content: props.content
         });


         });
       }
     }

    addMarker(props);
   function addMarker(props) {
     var marker = new google.maps.Marker({
       position: props.coords,
       map: map
     });
     coords.push(props.coords);
     markerArr.push(marker)

     if (props.iconImage) {
       marker.setIcon(props.iconImage);
     }
     if (props.content) {
       var infoWindow = new google.maps.InfoWindow({
         content: props.content
       });

       marker.addListener('click', function() {
         infoWindow.open(map, marker);
       });
     }
   }





 </script>

 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfqaZwQhSsYGhvkMybKRDSeiEVU1cpFus&callback=initMap">
 </script>
</body>

</html>
