<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title> sensors Charts </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css">
    <!-- script goes in head -->
  </head>

  <body>
    <div class="container" style="width:600px; height:400px">
      <canvas id="air_composition_data"><canvas>
    </div>
    <div class="container" style="width:600px; height:400px">
      <canvas id="temperature_data"><canvas>
    </div>
    <div class="divider" style="width:600px; height:400px">
      <canvas id="humidity_data"><canvas>
    </div>
    <div class="divider" style="width:600px; height:400px">
      <canvas id="humidity_data"><canvas>
    </div>
      <div class="divider" style="width:600px; height:400px">
        <canvas id="pressure_data"><canvas>
    </div>
    <div class="divider" style="width:600px; height:400px">
      <canvas id="altitude_data"><canvas>
  </div>
  <div class="divider" style="width:600px; height:400px">
    <canvas id="moisture_of_the_soil_data"><canvas>
</div>
    <script src="static/script.js?nocache=he"></script>

  </body>
</html>
